*.dep
*.log
*.ewt
*.ewd
*.pyc
.pio/
.vscode/
*.crf
*.dep
*.map
*.hex
*.bin
*.bak
*.txt
*.lst
*.uvgu*
*.sct
*.elf
*.ini
iDesigner_Project/
settings/
Debug/
*.code-workspace
Doc
.vs
*.vscode
*xlsx
*scvd
*uvopt*
*副本*
# *.exe
*.out
*.mac
*.json
*.board
*launch
*core_sc*
*cm23*
*cm3*
*cm7*
*cm1*
*cm0*
